.page-wrapper{
  @apply flex flex-col min-h-[100vh] justify-center items-center
}

.page{
  @apply flex-1 p-10	max-w-screen-lg w-full
}

.e-button{
  @apply border-slate-500 border-2 p-2 active:scale-95
}

.e-button-filled{
  @apply  border-0 p-2 bg-slate-900 text-white enabled:active:scale-95 transition duration-150 ease-in-out
}
.e-button-filled:disabled{
  @apply opacity-50
}

.e-text-field{
  @apply bg-transparent h-8 focus:outline-none
}

.e-text-field-with-border{
  @apply bg-transparent h-8 focus:outline-none border-2 border-slate-300 p-4
}

.image-div{
  @apply shadow flex flex-row items-center justify-center bg-slate-300
}
.e-image{
  @apply max-w-full max-h-full w-auto h-auto
}

.snackbar {
  @apply invisible border-r-8 bg-slate-700 text-white text-center p-2 fixed z-10 bottom-[30px] min-w-[250px] ml-[-125px] left-[50%]
}

.snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
 However, delay the fade out process for 2.5 seconds */
 animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
